body {
  background-color: #045369;
}

.header {
  width: 100%;
  line-height: 30px;
  background-color: white;
  position: fixed;
  z-index: 5;
}

.contents {
  width: 100vw;
  color: white;
  display: flex;
}

.left-container {
  margin: auto;
  padding: 60px 30px 120px 30px;
  background-color: #045369;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 35vw;
  z-index: 4;
}

.left-container h1 {
  font-size: 5vh;
}

.left-container h3 {
  font-size: 2vh;
}

.slider-container {
  background-color: #fff;
  width: 30vw;
  height: 30vw;
}

.slider-image {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  cursor: pointer;
}

.slider {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid white;
}

.contentslide {
  max-width: 500px;
  max-height: 500px;
}

.slick-list {
  padding-bottom: 0px;
}

.contentsBtn {
  margin: 60px;
  margin-top: 100px;
}

.contentsBtn > button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  width: 110px;
  font-size: 15px;
  background-color: #1b5160;
  margin-left: 20px;
  margin-right: 20px;
}

.contentsBtn > button:hover {
  background-color: #385fff;
  transition: 0.2s;
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100vw;
  display: flex;
  z-index: 3;
}

.left-space {
  flex: 1.2;
}

.space {
  flex: 2;
  height: 100%;
  margin-top: 80px;
  padding-bottom: 10px;
  /* background-color: #a8c7cf; */
  border-radius: 10px;
  margin-bottom: 50px;
  -ms-overflow-style: none;
}

.space::-webkit-scrollbar {
  display: none;
}

.tab {
  position: fixed;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16vh;
  width: 65vw;
  background-color: #045369;
  position: fixed;
  top: 8vh;
  z-index: 4;
}

.post-tab-container {
  margin-top: 14vh;
  max-height: 100vh;
}

.post-thumbnail {
  text-align: center;
  width: 19vw;
  height: 19vw;
  object-fit: cover;
}

.post-container img {
  padding: 20px 15px 0px 15px;
  width: 90%;
}

.post-mouseover {
  cursor: pointer;
  background-color: #111;
  color: white;
  opacity: 0.5;
  position: absolute;
  width: 19vw;
  height: 19vw;
  display: flex;
  font-size: 1.8vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container div {
}

.post-title {
  flex-direction: row;
  white-space: nowrap;
  margin: 5px 5px -3vh;
}

.post-like {
  margin: 10px;
  flex-direction: row;
  white-space: nowrap;
}

.post-location {
  flex-direction: row;
  white-space: nowrap;
  margin: -3vh 5px 5px;
}

/* .post-mouseover p {
  opacity: 1;
} */

.space > .icons {
  text-align: center;
  width: 1100px;
  margin: auto;
  height: 100px;
  position: relative;
}

.Category_btn {
  margin: 0 40px;
  width: 230px;
  height: 108px;
  background-color: #a8c7cf;
  border: none;
  line-height: 108px;
}

.Category_btn:hover {
  background-color: #045369;
  border-radius: 3px;
}

.Category_btn:active {
  background-color: #104250;
}

#icon1,
#icon2,
#icon3 {
  display: inline-block;
  color: white;
  position: relative;
  top: 20px;
}

#icon3 {
  padding: 5px 0;
}

#Category1,
#Category2 {
  width: 60px;
  margin: 0;
  margin-left: 5px;
  display: inline-block;
  font-size: 23px;
  color: white;
}

#Category3 {
  width: 80px;
  margin: 0;
  margin-left: 15px;
  display: inline-block;
  font-size: 23px;
  color: white;
}

.space_hr {
  margin-top: 20px;
  border-width: 1px;
  width: 1098px;
  position: relative;
  right: 900px;
}

@keyframes hoani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image_Collection li {
  max-width: 30%;
  margin: 10px;
  list-style: none;
  background-color: none;
  display: inline-flex;
  margin-bottom: 40px;
}

.post-loading {
  margin-right: 0px;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}
