.cover {
  position: relative;
  right: 500px;
  width: 1000px;
  height: 1100px;
}

.main_con {
  background-color: white;
  width: 600px;
  height: 1100px;
  min-height: 1000px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  line-height: 100%;
  flex: 1;
  float: left;
}

.g_header {
  background-color: white;
  height: 70px;
  border-radius: 5px;
}

.profile_Name {
  padding-left: 30px;
  display: flex;
}

.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  margin: 15px 12px 15px 0px;
}

#pro_p {
  font-weight: bold;
  margin: 27px 0px;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

.gallery {
  width: 600px;
  height: 600px;
  background-color: gray;
  border-radius: 2px;
}

.like_and_location {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.detail {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  padding: 10px 30px;
}

.detail::-webkit-scrollbar {
  width: 8px;
}

.detail::-webkit-scrollbar-thumb {
  background: rgba(12, 28, 49, 0.1);
  border-radius: 5px;
}

.date {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

#line {
  width: 598px;
  margin: auto;
  color: gray;
}

.comment {
  width: 580px;
  height: 60px;
  border-radius: 5px;
  padding-left: 20px;
  bottom: 0px;
  position: absolute;
}

#comment_p {
  display: inline;
}

#comment_ipt {
  margin: 14px 0 0 20px;
  width: 430px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 13px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

#comment_btn {
  font-size: 15px;
  width: 60px;
  height: 40px;
  background-color: white;
  border: none;
  float: right;
  position: relative;
  top: 11px;
  right: 11px;
  border-radius: 5px;
  color: blue;
}

#comment_btn:hover {
  background-color: #b2b0b0;
}

#comment_btn:active {
  background-color: #908f8f;
}

.gesimoolSlide img {
  width: 600px;
  height: 600px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  animation: fadeInBackground 0.2s ease-in-out forwards;
}

.modal-content {
  /* 기존 스타일 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  max-width: 0px;
  width: 100%;
  /* 애니메이션 효과 추가 */
  animation: modalOpenAnimation 0.2s ease-in-out;
}

.modal-overlay.open {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

@keyframes modalOpenAnimation {
  from {
    opacity: 0; /* 시작 시점 투명도 */
    transform: translate(-50%, -50%) scale(0.5); /* 시작 시점 크기 */
  }
  to {
    opacity: 1; /* 종료 시점 투명도 */
    transform: translate(-50%, -50%) scale(1); /* 종료 시점 크기 */
  }
}

@keyframes fadeInBackground {
  from {
    background-color: rgba(0, 0, 0, 0); /* 시작 상태는 투명한 배경 색상 */
  }
  to {
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* 종료 상태는 불투명한 검정색 배경 색상 */
  }
}

.comment_list {
  position: relative;
  left: 5px;
  float: right;
  width: 400px;
  height: 1100px;
  background-color: white;
  border-radius: 5px;
}

#list_p {
  text-align: center;
  font-size: 15px;
}

#list_hr {
  margin: auto;
  position: relative;
  width: 398px;
  border: 0px;
  background-color: #cbcbcb;
  height: 1px;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0 25px;
}

.comment_li {
  width: 350px;
  height: 80px;
  background-color: #cccccc;
  margin: 15px 0;
  border-radius: 5px;
}

.commentProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.commentProfileP {
  color: black;
}

.comments {
  position: relative;
  bottom: 23px;
  margin: 0 0 0 10px;
  display: inline-block;
  width: 300px;
  height: 80px;
  background-color: #e8e8e8;
  border-radius: 5px;
}
