.cover {
  display: flex;
  position: relative;
  width: 70vw;
  height: 100vh;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 35vw;
}

.main_con {
  background-color: #fff;
  position: relative;
  width: 50vw;
  height: 90vh;
}

.comment_list {
  width: 20vw;
  min-width: 260px;
  height: 90vh;
  background-color: white;
}

.g_header {
  background-color: white;
  height: 8vh;
  border-radius: 5px;
}

.g_contents {
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.post-set {
  display: flex;
  flex-direction: row;
}

.profile_Name {
  padding-left: 1vw;
  display: flex;
}

.profile_img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 2.5vh;
  margin-right: 1vw;
}

#pro_p {
  font-weight: bold;
  margin: 27px 0px;
  font-size: 2vh;
  cursor: pointer;
  color: black;
}

/* .gesimoolSlide img{
  width: 50vw;
  height: 며ㅅ;
} */

.post-image-row {
  width: 50vw;
  height: auto;
  margin-top: 0vh;
}

.post-image-column {
  height: 80vh;
  width: auto;
  position: relative;
  margin-left: 5vw;
}

.post-image-square {
  width: 45vw;
  height: auto;
}

.slick-slider {
  height: 75vh;
}

.slick-list {
  height: 75vh;
}

.gallery {
  width: 50vw;
  height: 100%;
  background-color: #fff;
}

.like_and_location {
  height: 50px;
  white-space: nowrap;
  line-height: 50px;
  padding-left: 0px;
  font-size: 1.8vh;
}

.detail {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 15vh;
  width: 17vw;
  padding: 10px 30px;
}

.detail h3 {
  font-size: 2vh;
}

.detail p {
  font-size: 1.5vh;
}

.detail::-webkit-scrollbar {
  width: 8px;
}

.detail::-webkit-scrollbar-thumb {
  background: rgba(12, 28, 49, 0.1);
  border-radius: 5px;
}

.date {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 1.5vh;
}

#line {
  width: 598px;
  margin: auto;
  color: gray;
}

.comment {
  width: 45vw;
  min-width: 400px;
  height: 60px;
  border-radius: 5px;
  padding-left: 20px;
  bottom: 0px;
  position: absolute;
}

.comment-text {
  font-size: 1.8vh;
  margin-top: 0px;
  margin-bottom: 5px;
}

.comment-profile {
  width: 2.5vw;
  height: 2.5vw;
}

.comment-date {
  font-size: 1.1vh;
  margin-top: 1vh;
}

.no-comments {
  height: 50vh;
  font-size: 1.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment_p {
  display: inline;
}

#comment_ipt {
  margin: 14px 0 0 20px;
  width: 30vw;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 13px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

#comment_btn {
  font-size: 15px;
  width: 60px;
  height: 40px;
  background-color: white;
  border: none;
  float: right;
  position: relative;
  top: 11px;
  right: 11px;
  border-radius: 5px;
  color: #666s;
}

#comment_btn:hover {
  background-color: #b2b0b0;
}

#comment_btn:active {
  background-color: #908f8f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  animation: fadeInBackground 0.2s ease-in-out forwards;
}

.modal-content {
  /* 기존 스타일 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  max-width: 0px;
  width: 100%;
  /* 애니메이션 효과 추가 */
  animation: modalOpenAnimation 0.2s ease-in-out;
}

.modal-overlay.open {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

@keyframes modalOpenAnimation {
  from {
    opacity: 0; /* 시작 시점 투명도 */
    transform: translate(-50%, -50%) scale(0.5); /* 시작 시점 크기 */
  }
  to {
    opacity: 1; /* 종료 시점 투명도 */
    transform: translate(-50%, -50%) scale(1); /* 종료 시점 크기 */
  }
}

@keyframes fadeInBackground {
  from {
    background-color: rgba(0, 0, 0, 0); /* 시작 상태는 투명한 배경 색상 */
  }
  to {
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* 종료 상태는 불투명한 검정색 배경 색상 */
  }
}

#list_p {
  text-align: center;
  font-size: 1.5vh;
}

#list_hr {
  margin: auto;
  position: relative;
  width: 100%;
  border: 0px;
  background-color: #cbcbcb;
  height: 1px;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0 25px;
}

.comment_li {
  width: 350px;
  height: 80px;
  background-color: #cccccc;
  margin: 15px 0;
  border-radius: 5px;
}

.commentProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.commentProfileP {
  color: black;
}

.comments {
  position: relative;
  bottom: 23px;
  margin: 0 0 0 10px;
  display: inline-block;
  width: 300px;
  height: 80px;
  background-color: #e8e8e8;
  border-radius: 5px;
}
