/* findpw */

.findpw-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  min-width: 314px;
  min-height: 277px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.3);
}

.findpw-containter {
  padding-top: 3vh;
}
