.changepw-box {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.changepw-box-done {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.changepw-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
