/* signup */

.signup-box {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 70vh;
    min-width: 303px;
    min-height: 534px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.3);
  }

