.avatar-container {
  flex: 4;
}

.profile-container {
  padding: 20px;
  width: 90%;
  height: 80%;
  margin: auto;
  box-shadow: none;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.user-info {
  /* background-color: firebrick; */
}

.profile-post-list {
}

.user-info-container {
  flex: 6;
  margin-left: 30px;
}

.user-info-container2 {
  display: flex;
  flex-direction: row;
}

.user-info-container3 {
  display: flex;
  flex-wrap: nowrap;
}

.follower-container {
  white-space: nowrap;
  margin-right: 2vw;
}

.following-container {
  white-space: nowrap;
}

.profile-left-container {
  width: 35vw;
  height: 100vw;
  min-width: 410px;
}

/* .follow-button {
  color: gray;
  margin-left: 1vw;
} */


.profile-location-select {
  width: 30vw;
  height: 60vh;
}

.profile-map-container {
  width: 30vw;
  height: 60vh;
}

.profile-map {
  width: 30vw;
  height: 60vh;
}