body {
  background-color: #045369;
}

.header {
  width: 100%;
  line-height: 30px;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.contents {
  width: 1920px;
  margin: 0 auto;
  padding-top: 50px;
}

.side {
  display: flex;
  position: fixed;
  width: 800px;
  height: 100%;
}

.side h1 {
  color: black;
  text-align: center;
  margin-bottom: 60px;
}

.inner {
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  padding: 60px 30px 120px 30px;
  background-color: #a8c7cf;
}

.inner > h3 {
  margin-left: 40px;
  font-size: 15px;
  color: black;
}

.slider {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid white;
}

.contentslide {
  max-width: 500px;
  max-height: 500px;
}

.slick-list {
  height: 500px;
  padding-bottom: 0px;
}

.contentsBtn {
  margin: 60px;
  margin-top: 100px;
}

.contentsBtn > button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  width: 110px;
  font-size: 15px;
  background-color: #1b5160;
  margin-left: 20px;
  margin-right: 20px;
}

.contentsBtn > button:hover {
  background-color: #385fff;
  transition: 0.2s;
  cursor: pointer;
}

.main {
  float: right;
  width: 1100px;
  height: 100%;
}

.space {
  height: 100%;
  margin-top: 80px;
  padding-bottom: 10px;
  background-color: #a8c7cf;
  border-radius: 10px;
  margin-bottom: 50px;
  -ms-overflow-style: none;
}

.space::-webkit-scrollbar {
  display: none;
}

.space > .icons {
  text-align: center;
  width: 1100px;
  margin: auto;
  height: 100px;
  position: relative;
}

.Category_btn {
  margin: 0 40px;
  width: 230px;
  height: 108px;
  background-color: #a8c7cf;
  border: none;
  line-height: 108px;
}

.Category_btn:hover {
  background-color: #045369;
  border-radius: 3px;
}

.Category_btn:active {
  background-color: #104250;
}

#icon1,
#icon2,
#icon3 {
  display: inline-block;
  color: white;
  position: relative;
  top: 20px;
}

#icon3 {
  padding: 5px 0;
}

#Category1,
#Category2 {
  width: 60px;
  margin: 0;
  margin-left: 5px;
  display: inline-block;
  font-size: 23px;
  color: white;
}

#Category3 {
  width: 80px;
  margin: 0;
  margin-left: 15px;
  display: inline-block;
  font-size: 23px;
  color: white;
}

.space_hr {
  margin-top: 20px;
  border-width: 1px;
  width: 1098px;
  position: relative;
  right: 900px;
}

@keyframes hoani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image_Collection li {
  max-width: 30%;
  margin: 10px;
  list-style: none;
  background-color: none;
  display: inline-flex;
  margin-bottom: 40px;
}
